<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img class="logo" src="/assets/images/ir.png" alt="TicTacToe">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="isIndex" class="navbar-nav mr-auto">
      <li class='nav-item'>
        <a class="nav-link" (click)="initIndex()">Init CRYPTO data</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link" (click)="initTrec()">Init TREC data</a>
      </li>
      <li>
        <a class="nav-link" (click)="loadIndex()">Load index</a>
      </li>
      <li class='nav-item' *ngIf="isIndexed">
        <a class="nav-link" (click)="saveIndex()">Save index</a>
      </li>
      <li class='nav-item' *ngIf="isIndexed">
        <a class="nav-link" [routerLink]="['/articles']">Indexed articles</a>
      </li>
    </ul>
    <ul *ngIf="!isIndex" class="navbar-nav mr-auto">
      <li class='nav-item'>
        <a class="nav-link" [routerLink]="['']">Search'</a>
      </li>
    </ul>

    <ul *ngIf="isIndex" class="nav navbar-nav navbar-right">
      <li class='nav-item' *ngIf="isIndexed">
        <a class="nav-link" (click)="clearIndex()">Clear index</a>
      </li>
    </ul>
  </div>
</nav>


